@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "IBM Plex Sans";
}

#disableDiv {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: black;
    z-index: 1;
    display: none;
  }

.loginform
{
    padding: 25px;
    position: absolute;
    display: none ;
    max-height: 400px;
    max-width: 350px;
    min-width: 350px;
    min-height: 500px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.20);
    border-radius: 0px;

}

.container{
    display: flex;
    position: absolute;
    width: 90%;
    height: 80vh;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.sidebar{
    width: 20%;
    margin-right: 20px;
    height: 80vh;
    display: inline-block;
}



.editor{
    display: inline-block;
    /* position: absolute; */
    width: 80%;
    height: 80vh;
    background-color: white;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    box-shadow: 3px 5px 7px rgba(0,0,0,0.30);
}

.bar{
    width: 100%;
    height: 48px;
    border: 1px solid rgb(218, 218, 218);

    /* display: flex; */
}
.title, .btns{
    position: relative;
    top:50%;
    transform: translateY(-50%);

}

/* .btn a{
    text-align: center;
    display: inline-block;
    margin: 2px;
    background: -webkit-linear-gradient(120deg,#3a1c71 , #d76d77 , #ffaf7b);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color:white;
} */
.btns a{
    margin-right:10px ;
}
.title{
    display: inline-block;
    /* color: rgb(127, 0, 231); */
    font-size: 1.5em;
    font-weight: 900;
    font-family: sans-serif;
    margin-left: 10px;
    background: -webkit-linear-gradient(120deg,#3a1c71 , #d76d77 , #ffaf7b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
    background-size: 200%;
    
}
.title:hover{
    background-position: right;
}
.btns{
    float: right;
    display: flex;
    padding-right: 5px;
}
#ham
{
    background: url(ham.svg);
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    border: none;
    
}
#ham:focus
{
    outline: none;    
}

textarea{
    width: 100%;
    height: calc(80vh - 48px);
    outline: none;
    resize: none;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid  rgb(218, 218, 218);
    border-top: none;
    font-size: 1em;
/*     font-weight: 300;
 */    font-family: "IBM Plex Sans";
    word-spacing: 0.3em;
    
}

@media only screen and (max-width:800px)
{
    .sidebar{
        display: none;
    }
    .editor{
        width: 100%;
    }
}

@media only screen and (min-width:800px)
{
    .btns{
        display: none;
    }
}



