@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

*
{
    font-family: "IBM Plex Sans";
    word-spacing: 0.15em;
}
.headingz
{
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    height: 50px;
    
}
.headingz > div{
    line-height: 50px;
}
.headingz > div:first-child
{
    /* width: 50%;
    text-align: right; */
    background: -webkit-linear-gradient(120deg,#3a1c71 , #d76d77 , #ffaf7b);
    /*background: -ms-linear-gradient(120deg,#3a1c71 , #d76d77 , #ffaf7b);*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    font-weight: 900;
}
.headingz> div:last-child
{
    font-size: 1.2em;
}
.form-heading
{
    text-align: center;
    margin-bottom:45px;
    background: -webkit-linear-gradient(120deg,#3a1c71 , #d76d77 , #ffaf7b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.input-sec
{
    border-bottom:  2px solid #adadad;
    position: relative;
    margin: 30px 0;
}
.input-sec input
{
    font-size: 16px;
    color:#333;
    border: none;
    width: 100%;
    outline: none;
    padding: 0 5px;
    height: 40px;
    background: none;
}
.input-sec span::before
{
    content: attr(data-placeholder);
    position: absolute;
    left:5px;
    top: 10px;
    /* color:#adadad; */
    color: #adadad;
    z-index: -1;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: smaller;
}
.input-sec span::after
{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    left:0px;
    top: 39.5px;
    background: -webkit-linear-gradient(120deg,#3a1c71 , #d76d77 , #ffaf7b);
    background: -ms-linear-gradient(120deg,#3a1c71 , #d76d77 , #ffaf7b);
    z-index: 2;
    transition: 0.3s;
}
.input-sec input:focus + span::before
{
    top:-15px;
}

.input-sec input:focus + span::after
{
    width: 100%;
}

.focus + span::before
{
    top:-15px;
}

.focus + span::after
{
    width: 100%;
}
.button-holder
{
    margin-top: 45px;
    display: flex;
    
}
.gap
{
    display: block;
    width: 20px;

}

.resBtn
{
    width: 100%;
    height: 48px;
    border:none;
    outline: none;
    background: -webkit-linear-gradient(-120deg, #bdbdbd,#ffffff);
    background: -ms-linear-gradient(-120deg,#bdbdbd,#ffffff);
    background-size: 200%;
    background-position: left;
    transition: 0.5s;
    color: #555;
    font-size: 18px;
    /* margin: 5px; */
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 3px 4px 7px rgba(0,0,0,0.30);
    /* border: 1px solid #ddd; */
}
.subBtn
{
    width: 100%;
    height: 48px;
    border:none;
    outline: none;
    background:-webkit-linear-gradient(120deg,#3a1c71 , #d76d77 , #ffaf7b);
    background: -ms-linear-gradient(120deg,#3a1c71 , #d76d77 , #ffaf7b);
    background-size: 200%;
    background-position: left;
    transition: 0.5s;
    color: #fff;
    font-size: 18px;
    /* margin: 5px; */
    margin-bottom: 50px;
    cursor: pointer;
    box-shadow: 3px 5px 7px rgba(0,0,0,0.30);
}
.subBtn:hover
{
    background-position: right;
}
.resBtn:hover
{
    background-position: right;
    /* color: #d76d77; */
}

.bottomText
{
    text-align: center;
}